---
import Default from "@astrojs/starlight/components/TwoColumnContent.astro";

const adId = import.meta.env.PUBLIC_ADSTERRA_AD_ID;
---

<Default {...Astro.props}>
    <slot />

    <slot name="right-sidebar" slot="right-sidebar" />

    <div id={`container-${adId}`}></div>
</Default>

<!-- 使用环境变量的广告脚本 -->
<script
    async
    data-cfasync="false"
    src={`https://pl30294156.effectivecpmnetwork.com/${adId}/invoke.js`}
></script>
